<h2>Cadastro de usuário</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="div_table">
  <!--ISBG - Campos novos -->
  <div class="div_tr">
    <div class="div_td_right"> <%= f.label :matricula %> </div>
    <div class="div_td_left"> <%= f.text_field :matricula , autofocus: true %> </div>
  </div>
  <!--Campos novos (inicio)-->
  <div class="div_tr">
    <div class="div_td_right"> <%= f.label :nome %> </div>
    <div class="div_td_left"> <%= f.text_field :nome %> </div>
  </div>
  <!--Campos novos (fim)-->
  <div class="div_tr">
    <div class="div_td_right"> <%= f.label :email %> </div>
    <div class="div_td_left"> <%= f.email_field :email,  autocomplete: "email" %> </div>
  </div>
  <div class="div_tr">
    <div class="div_td_right"> 
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
    <div class="div_td_left"> <%= f.password_field :password, autocomplete: "new-password" %></div>
  </div>

  <div class="div_tr">
    <div class="div_td_right"> <%= f.label :password_confirmation %> </div>
    <div class="div_td_left"> <%= f.password_field :password_confirmation, autocomplete: "new-password" %> </div>
  </div>
  <!--Campos novos (inicio)-->
  <div class="div_tr">
    <div class="div_td_right"> <%= f.label :tipo %> </div>
    <!--TODO: dropdwonlist aqui -->
  </div>
</div>
 <div class="div_table">
  <!--Campos novos (fim)-->
  <div class="div_tr">
    <%= f.submit t('criar_usuario') , class: "submit" %>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
